@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

html {
 scroll-behavior: smooth;
}

body {
  background: #bc98cf;
  color: #fff;
  width: 100%;
}

ul {
  list-style: none;
}

a {
 text-decoration: none;
 color: inherit;
}

button {
 cursor: pointer;
 border: none;
background: none;
}

img {
 width: 30%;
 padding: 10px;
}
/* COMMON */
.section-content{
    margin: 20px auto;
    padding: 40px 20px;
    max-width: 1200px;
}

.section-title {
  text-align: center;
  padding: 60px 0 40px;
  font-size: 22px;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  background: #763376;
  display: block;
  margin: 10px auto;
  border-radius: 50px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(131, 81, 168);
  z-index: 1000;
}

.navbar {
  height: 72px;               
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 0px;
}

.logo-img {
  width: 80px;               
  height: 60px auto;
  max-height: 52px;
}

.logo-text {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

/* MENU */
.nav-menu {
  display: flex;
  gap: 12px;
}

.nav-link {
  padding: 8px 16px;
  border-radius: 15px;
  color: #ffffff;
  transition: background 0.3s ease;
}

.nav-link:hover {
  background: #d4c5dc;
  color: #462255;
}
#menu-open-button,
#menu-close-button {
  display: none;
  font-size: 24px;
}

/* HERO  */
.hero-section {
  min-height: 100vh;
  background: rgb(213, 193, 209);
  padding-top: 100px;
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.hero-details .title {
  font-size: 42px;
  font-family: "Changa One", cursive;
  color: #462255;
}

.hero-details .subtitle {
  font-size: 22px;
  color: #5d185d;
  margin: 8px 0;
}

.hero-details .description {
  max-width: 450px;
  color: #5d185d;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 18px;
  background: #462255;
  border-radius: 8px;
  transition: 0.3s;
}

.button:hover {
  background: #5e2a7a;
}

.hero-details .desc {
  font-size: 13px;
  color: #a03fa0;
  margin: 8px 0;
}

/*  ABOUT*/

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 100px 40px;
  background: #bc98cf;
}

.about-image {
  width: 320px;
  border-radius: 30px;
}

.about-details {
  max-width: 500px;
  text-align: center;
}

.about-details .section-title {
  margin-bottom: 20px;
}

.about-details .text {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/* SOCIAL ICONS */
.about-section .social-link-list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.about-section .social-link {
  color: rgba(0, 0, 0, 0.4);
  font-size: 24px;
  transition: 0.3s ease;
  text-decoration: none;
}

.about-section .social-link:hover {
  color: #f0c5c5;
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
    padding: 80px 20px;
  }

  .about-image {
    width: 260px;
  }
}

@media screen and (max-width: 900px)  { 
  img {
    width: 300px;
  }
    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        font-size: 23px;
        display: block;
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
        color: #5e2a7a;
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background:rgb(203, 160, 247);  
        transition: left 0.2s ease;
        z-index: 1000;
    }
    
    body.show-mobile-menu  .navbar .nav-menu {
        left: 0 !important;
    }

    .navbar .nav-menu .nav-link {
        color: #76119e;
        display: block;
        font-size: 20px;
    }

    .hero-section .section-content {
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-details :is(.subtitle, .description){
        justify-content: center;
    }

    .hero-section .hero-details .butttons {
    justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }
    
    .about-image{
    width: 300px;
    border-radius: 50px;
}

}

/* CATEGORIES  */
.categories {
  margin: 30px auto;
  text-align: center;
}

.category-buttons-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.categories button {
  padding: 10px 18px;
  background: #462255;
  border-radius: 20px;
  color: #fff;
  transition: 0.3s;
}

.categories button:hover {
  background: #6a1b9a;
  transform: translateY(-2px);
}

.categories button.active {
  background: linear-gradient(135deg, #8e24aa, #5e35b1);
}

/*  SEARCH  */
.search-box {
  margin-top: 20px;
}

#searchInput {
  width: 80%;
  max-width: 600px;
  padding: 12px 25px;
  border-radius: 30px;
  border: 2px solid #462255;
  outline: none;
}

#searchInput:focus {
  border-color: #8e24aa;
  box-shadow: 0 0 10px rgba(142, 36, 170, 0.3);
}

/*PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.product {
  background: rgb(211, 179, 209);
  padding: 12px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
}

.product img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.4s;
}

.product:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.product:hover img {
  transform: scale(1.1);
}

.product h3 {
  margin: 10px 0 5px;
  color: #fff;
}

.price {
  font-weight: 600;
  transition: 0.3s;
}

.product:hover .price {
  color: #6a1b9a;
  transform: scale(1.1);
}

/*CONTACT */
.contact-section {
  margin-top: 50px;
  padding: 40px 0 100px;
  background: #bc98cf;
}
.contact-section .section-content {
  display: flex;
  gap: 48px;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-section .contact-info-list .contact-info {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}

.contact-section .contact-info-list .contact-info i {
  font-size: 20px;
}

.contact-section .contact-form .form-input{
  width: 100%;
  height: 50px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid;
}


.contact-section .contact-form {
  max-width: 50%;
}
.contact-section .contact-form .form-input:focus{
  border-color: #a247c0;
}

.contact-section .contact-form textarea.form-input {
  height: 100px;
  padding: 12px;
  resize: vertical;
}

.contact-section .contact-form .submit-button {
  padding: 10px 26px;
  color: white;
  font-weight: bold;
  background:rgb(131, 81, 168);
  border-radius: 18px;
  border: 1px solid #5d185d;
  transition: 0.3 ease;
}

.contact-section .contact-form .submit-button:hover {
  background: transparent;
}

/*  FOOTER */

.footer-section {
  background: #462255;
  padding: 20px px;
}

.footer-section .section-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

/* TEXT */
.footer-section :where(.copyright-text, .policy-link, .separator) {
  color: #bc98cf;
  font-size: 14px;
}

.footer-section .social-link-list {
  display: flex;
  gap: 20px;
}

.footer-section .social-link {
  color: #bc98cf;
  font-size: 18px;
  transition: 0.3s ease;
}

.footer-section .social-link:hover {
  color: #ffffff;
  transform: translateY(-2px);
}

.footer-section .policy-text {
  display: flex;
  font-size: large;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .footer-section .section-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-section .policy-text {
    justify-content: center;
  }
}
 
@media (max-width: 900px) {
  #menu-open-button,
  #menu-close-button {
    display: block;
  }

  .nav-menu {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background: rgb(203, 160, 247);
    flex-direction: column;
    padding-top: 100px;
    transition: 0.3s;
  }

  body.show-mobile-menu .nav-menu {
    left: 0;
  }

  .hero-section .section-content,
  .about-section .section-content {
    flex-direction: column;
    text-align: center;
  }
  
.contact-section .section-content {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 20px;
  width: 100;
}

.footer-section .section-content {
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
}

.rating-section {
  text-align: center;
  margin-bottom: 20px;
}

.rating-title {
  color:#462255;
  font-size: 18px;
  margin-bottom: 8px;
}

.stars i {
  font-size: 24px;
  color:#462255;
  cursor: pointer;
  transition: 0.2s;
}

.stars i:hover {
  transform: scale(1.2);
}

#rating-text {
  margin-top: 8px;
  font-size: 14px;
}

